 {:secrets #include #join [#env HOME "/.secrets.edn"]

 :uk.gov/notify
 {:api-key #ref [:secrets :uk.gov :notify :api-key]}

 :wales.nhs/empi
 {:url           "https://mpilivequeries.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
  :processing-id "P"
  :proxy-host    "10.59.11.60"
  :proxy-port    3128
  :timeout       2000}

 :wales.nhs/nadex
 {:connection-pool-size  5
  :default-bind-username #ref [:secrets :wales :nadex :bind-username]
  :default-bind-password #ref [:secrets :wales :nadex :bind-password]}

 :wales.nhs/nadex-failover
 {:hosts                 ["adm03srvdom0001.cymru.nhs.uk"]
 :connection-pool-size  5
 :default-bind-username #ref [:secrets :wales :nadex :bind-username]
 :default-bind-password #ref [:secrets :wales :nadex :bind-password]}

 :wales.nhs.cavuhb/pms
 {:username    #ref [:secrets :cav-pms-username]
  :password    #ref [:secrets :cav-pms-password]
  :database    "vpmslive.world"
 :user-string "patientcare-concierge"}

 :wales.nhs.abuhb/pas
 {:demographics {:url "http://abbcwsb.cymru.nhs.uk/ABHBMyrddinWS/patient.asmx"}}

 :uk.gov/notify
 {:api-key #ref [:secrets :uk.gov :notify :api-key]}}
