{
 :paths   ["src" "resources" "classes"]

 :deps    {org.clojure/clojure             {:mvn/version "1.10.3"}
           org.clojure/core.async          {:mvn/version "1.5.648"}
           org.clojure/core.match          {:mvn/version "1.0.0"}
           org.clojure/data.xml            {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.json           {:mvn/version "2.4.0"}
           org.clojure/data.zip            {:mvn/version "1.0.0"}
           org.clojure/tools.logging       {:mvn/version "1.2.4"}

           buddy/buddy-sign                {:mvn/version "3.4.333"}
           clj-http/clj-http               {:mvn/version "3.12.3"}
           com.layerware/hugsql-core       {:mvn/version "0.5.1"}
           selmer/selmer                   {:mvn/version "1.12.49"}}
           com.unboundid/unboundid-ldapsdk {:mvn/version "6.0.3"}

 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
                                slipset/deps-deploy           {:mvn/version "RELEASE"}}
                   :ns-default build}

           :test/repl
           {:extra-paths ["test"]
            :extra-deps  {aero/aero                 {:mvn/version "1.1.6"}
                          com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                     :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}
                          criterium/criterium       {:mvn/version "0.4.6"}}}
           :test/unit
           {:extra-paths ["test"]
            :extra-deps  {aero/aero                 {:mvn/version "1.1.6"}
                          com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                     :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
            :main-opts   ["-m" "cognitect.test-runner" "-e" ":live"]}

           :test/live
           {:extra-paths ["test"]
            :extra-deps  {aero/aero                      {:mvn/version "1.1.6"}
                          com.cognitect/test-runner      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}
                          ch.qos.logback/logback-classic {:mvn/version "1.2.10"}}
            :main-opts   ["-m" "cognitect.test-runner"]}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "cloverage.coverage"
                          "--src-ns-path" "src"
                          "--test-ns-path" "test"]
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
