{:wales   {
           :empi {:url           "https://mpitest.cymru.nhs.uk/PatientDemographicsQueryWS.asmx"
                  :processing-id "U"}}
 :connect {
           :server-port 10000
           :public-key  "ecpubkey.pem"                      ;; concierge connect JWT credentials for securing client<->server WebSockets channel
           :private-key "ecprivkey.pem"
           }}